<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Ediciones Prestamos </title>

</head>
<body>
    <h1 class="text-center mt-5">Editar Prestamos </h1>
    <div id="app">
        <div class="container">
            <form @submit.prevent="editarPrestamo" class="form-control">
                <div class="my-3 text-center">
                    <label for="id" class="form-label">Id:</label>
                    <input type="text" id="id" v-model="nuevoPrestamo.id" required readonly>
                </div>
                <div class="my-3 text-center">
                    <label for="inicio" class="form-label">Inicio</label>
                    <input type="text" id="inicio" v-model="nuevoPrestamo.inicio" required>
                </div>
                <div class="mb-3 text-center">
                    <label for="fin" class="form-label">Fin:</label>
                    <input type="text" id="fin" v-model="nuevoPrestamo.fin" required>
                </div>
                <div class="mb-3 text-center">
                    <label for="socio_id">Socio</label>
                    <input type="text" id="socio_id" v-model="nombreSocio" required readonly>
                </div>
                <div class="mb-3 text-center">
                    <label for="libro_id">Libro:</label>
                    <input type="text" id="libro_id" v-model="tituloLibro" required readonly>
                </div>
                <div class="mb-3 text-center">
                    <button class="btn-primary text-center" @click="editarPrestamo" type="submit">Editar Prestamo </button>
                </div>

            </form>
        </div>
    
        <script>
            new Vue ({
                el: '#app',
                data: {
                    nuevoPrestamo: {
                        id:'',
                        inicio: '',
                        vencimiento:'',
                        fin: '',
                        libro_id:'',
                        socio_id:''

                    },
                    tituloLibro:'',
                    nombreSocio:'',
                    libro:{},
                    socio:{}
                },
                mounted(){
                    const urlParams = new URLSearchParams(window.location.search);
                    const prestamoId = urlParams.get('id');
                    if(prestamoId){
                        this.buscarPrestamo(prestamoId);
                    }
                },
                methods: {
                    editarPrestamo(){
                        const inicioFormateado = this.convertirFechaHora(this.nuevoPrestamo.inicio);
                        const vencimientoFormateado = this.convertirFechaHora(this.nuevoPrestamo.vencimiento)
                        const finFormateado = this.convertirFechaHora(this.nuevoPrestamo.fin);

                         var that = this;
                        axios.put('http://localhost:8080/api/prestamos/' + this.nuevoPrestamo.id,[this.nuevoPrestamo.id,
                    inicioFormateado,vencimientoFormateado,finFormateado,[this.libro.id,this.libro.isbn,this.libro.titulo,
                    this.libro.autor,this.libro.edicion],[this.socio.id,this.socio.dni,this.socio.nombre_apellido,this.socio.nacimiento]])
                    .then(function(response){
                        //el libro fue creado y editado 
                        console.log('prestamo editado:', response.data);
                        //restablece los valores de los campos del formulario
                        window.location.href = '../listados/prestamos.html';
                    })
                    .catch(function(error){
                        console.log(this.socio.dni)
                        console.error('error al editar el prestamo:', error);
                    });
                    },
                    buscarPrestamo(id){
                        that = this;
                        axios.get('http://localhost:8080/api/prestamos/' + id)
                        .then(function(response){
                            //el libro fue creado 
                            //se asignan los datos del libro encontrado al objeto nuevoLibro
                            prestamoEncontrado = response.data;
                            console.log(that.nuevoPrestamo)
                            that.nuevoPrestamo.id = prestamoEncontrado[0].id;
                            that.nuevoPrestamo.inicio = prestamoEncontrado[0].inicio;
                            that.nuevoPrestamo.vencimiento = prestamoEncontrado[0].vencimiento;
                            that.nuevoPrestamo.fin = prestamoEncontrado[0].fin;
                            that.nuevoPrestamo.libro_id = that.obtenerTituloLibro(prestamoEncontrado[0].libro_id);
                            that.nuevoPrestamo.socio_id = that.obtenerNombreSocio(prestamoEncontrado[0].socio_id);
                        })
                        .catch(function(error){
                            console.error('error al crear el prestamo:', error);
                        });
                    },
                    obtenerTituloLibro(idLibro){
                        axios.get('http://localhost:8080/api/libros/'+ idLibro)
                        .then(function(response){
                            //almacena el titulo del libro en el objeto tituloLibros
                            that.tituloLibro = response.data[0].titulo;
                            that.libro = response.data[0];
                            console.log(that.tituloLibro)
                        })
                        .catch(function(error){
                            console.error(error);
                            return 'error al obtener el titulo del libro';
                        });
                    },
                    obtenerNombreSocio(idSocio){
                        var that = this;
                        axios.get('http://localhost:8080/api/socios/' + idSocio)
                        .then(function(response){
                            //almacena el nombre y apellido del socio en el objeto nombreSocios
                            that.nombreSocio=response.data[0].nombre_apellido;
                            console.log(that.nombreSocio)
                            that.socio=response.data[0];
                            console.log('objeto socio')
                            console.log(that.socio.dni)
                        })
                        .catch(function(error){
                            console.error(error);
                            return 'error al obtener el nombre y apellido del socio';
                        });
                    },
                    convertirFechaHora(fechaHora){
                        const fecha = new Date(fechaHora);
                        const year = fecha.getFullYear().toString().padStart(4, '0');
                        const month = (fecha.getMonth()+1).toString().padStart(2, '0');
                        const day = fecha.getDate().toString().padStart(2, '0');
                        const hours = fecha.getHours().toString().padStart(2,'0');
                        const minutes = fecha.getMinutes().toString().padStart(2, '0');
                        const seconds = fecha.getSeconds().toString().padStart(2,'0');
                        const fechaFormateada = `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;
                        return fechaFormateada;

                    }
                }

            });
        </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>