<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Editar prestamo</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Biblioteca</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/libros">Libros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/socios">Socios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/prestamos">Prestamos</a>
            </li>
       
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
    <h1 class="text-center mt-5">Editar prestamo</h1>


  <div id="app">
    <div class="container">
    <form @submit.prevent="editarPrestamo" class="form-control">
        <div class="my-3 text-center"> 
            <label for="id" class="form-label">ID:</label>
            <input type="text" id="id" v-model="nuevoPrestamo.id" required readonly>
        </div>
        <div class="my-3 text-center"> 
            <label for="inicio" class="form-label">Inicio:</label>
            <input type="text" id="inicio" v-model="nuevoPrestamo.inicio" required readonly>
        </div>
        <div class="mb-3 text-center">
            <label for="vencimiento" class="form-label">Vencimiento:</label>
            <input type="text" id="vencimiento" v-model="nuevoPrestamo.vencimiento" required readonly>
         </div>
         <div class="mb-3 text-center">
            <label for="fin" class="form-label">Fin:</label>
            <input type="datetime-local" id="fin" v-model="nuevoPrestamo.fin" required>
         </div>
         <div class="mb-3 text-center">
            <label for="libro" class="form-label">LibroId:</label>
            <input type="libro" id="libro" v-model="nuevoPrestamo.libroId" required readonly>
         </div>
         <div class="mb-3 text-center">
            <label for="socio" class="form-label">SocioId:</label>
            <input type="socio" id="socio" v-model="nuevoPrestamo.socioId" required readonly>
         </div>
          
        <div class="mb-3 text-center">
              <button class="btn-primary text-center" @click="editarPrestamo" type="submit">Editar Prestamo</button>
        </div>
   
    </form>
  </div>
  </div>
  
  <script>
    new Vue({
      el: '#app',
      data: {
        nuevoPrestamo: {
          id:'',
          inicio: '',
          vencimiento: '',
          fin: '',
          libroId: '' ,
          socioId: ''
        },
      },
      mounted() {
        const urlParams = new URLSearchParams(window.location.search);
        const prestamoId = urlParams.get('id');
        if (prestamoId) {
          this.buscarPrestamo(prestamoId);
        }
      },
      methods: {
        editarPrestamo() {
          const that = this;
          const data =  JSON.stringify([
                this.nuevoPrestamo.id, 
                this.nuevoPrestamo.inicio, 
                this.nuevoPrestamo.vencimiento, 
                this.nuevoPrestamo.fin, 
                this.nuevoPrestamo.libroId, 
                this.nuevoPrestamo.socioId])
          
          fetch(`/api/prestamos/${this.nuevoPrestamo.id}`, {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json',
            },
            body: data 
          })
            .then(response => response.json())
            .then(data => {
              console.log('Prestamo editado', data);
                window.location.href = '/prestamos';
            })
            .catch(function(error) {
              console.error('Error al editar el prestamo:', error);
            });
        },
        buscarPrestamo(id){
          const that = this;
          fetch(`/api/prestamos/${id}`)
            .then(response => response.json())
            .then(data => {
              const prestamoEncontrado = data;
              that.nuevoPrestamo.id = prestamoEncontrado[0].id;
              that.nuevoPrestamo.inicio = prestamoEncontrado[0].inicio;
              that.nuevoPrestamo.vencimiento = prestamoEncontrado[0].vencimiento;
              that.nuevoPrestamo.fin = prestamoEncontrado[0].fin;
              that.nuevoPrestamo.libroId = prestamoEncontrado[0].libroId;
              that.nuevoPrestamo.socioId = prestamoEncontrado[0].socioId;
            })
            .catch(function(error) {
              console.error('Error al buscar el prestamo:', error);
            });
        },
      }
    });
  </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
