<?php

use Src\Bd\Migration;

class %s extends Migration
{
  private $tabla = 'CAMBIAR';

  public function up()
  {
    $sql = "";

    $this->run($sql);
  }
  public function down()
  {
    $sql = "";

    $this->run($sql);
  }
}
