<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Nuevo libro</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Biblioteca</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/libros">Libros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/socios">Socios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/prestamos">Prestamos</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <h1 class="text-center mt-5">Alta libro</h1>
    
  <div id="app" class="my-4">
    <div class="container">
    <form @submit.prevent="crearLibro" class="form-control">

      <div class="my-3 text-center"> 
          <label for="isbn" class="form-label">ISBN:</label>
        <input type="text" id="isbn" v-model="nuevoLibro.isbn" required>
      </div>
      <div  class="mb-3 text-center">
        <label for="titulo" class="form-label">Título:</label>
        <input type="text" id="titulo" v-model="nuevoLibro.titulo" required>
      </div>
      <div  class="mb-3 text-center">
        <label for="autor" class="form-label">Autor:</label>
        <input type="text" id="autor" v-model="nuevoLibro.autor" required>
      </div>
      <div class="mb-3 text-center">
        <label for="edicion">Edición:</label>
        <input type="number" id="edicion" v-model="nuevoLibro.edicion" required>
      </div>
      <div class="mb-3 text-center">
        <br>
        <button class="btn-primary text-center" @click="crearLibro" type="submit">Crear Libro</button>
      </div>   
    </form>
  </div>
</div>
  
  <script>
    new Vue({
     el: "#app",
     data: {
    nuevoLibro: {
      isbn: '',
      titulo: '',
      autor: '',
      edicion: null
    }
  },
  methods: {
    crearLibro() {
     var that = this;
     
      fetch('/api/libros', {
        method: 'POST',
        headers: {
          'Content-Type':'application/json'
        },
        body:JSON.stringify([
        this.nuevoLibro.isbn,
        this.nuevoLibro.titulo,
        this.nuevoLibro.autor,
        this.nuevoLibro.edicion
        ])
      })
        .then(function(response){
          return response.json();
        })
        .then(function(data){
         console.log('Libro creado:', data);
         window.location.href = '/libros';
        })
        .catch(function(error) {
          console.error('Error al crear el libro:', error);
     
        });
    }
  }
});

  </script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <footer class="bg-dark text-white text-center p-3 mt-5">
      © 2023 Biblioteca Las Grutas. Todos los derechos reservados.
    </footer>

  </div>
  </body>
</html>
