<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Nuevo socio</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Biblioteca</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/libros">Libros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/socios">Socios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/prestamos">Prestamos</a>
            </li>
          </ul>  
        </div>
      </div>
    </nav>
    <h1 class="text-center mt-5">Alta Socio</h1>
  <div id="app" class="my-5">
    <div class="container">

          <form @submit.prevent="crearSocio" class="form-control form-control-sm my-3">
            <div class="input-group flex-nowrap my-3">
                <span class="input-group-text" id="addon-wrapping">DNI:</span>
                <input type="text" class="form-control"v-model="nuevoSocio.dni"  placeholder="Número de documento" aria-label="DNI" aria-describedby="addon-wrapping" required>
              </div>
              <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">Nombre y apellido:</span>
                <input type="text" class="form-control"v-model="nuevoSocio.nombre_apellido"  placeholder="Nombre y apellido" aria-label="Nombre y apellido" aria-describedby="addon-wrapping" required>
              </div>
              <div class="input-group flex-nowrap my-3">
                <span class="input-group-text" id="addon-wrapping">Nacimiento:</span>
                <input type="date" class="form-control"v-model="nuevoSocio.nacimiento"  placeholder="Nacimiento" aria-label="Nacimiento" aria-describedby="addon-wrapping" required>
              </div>
              <div class="mb-3 text-center">
                <button class="btn-primary text-center" type="submit">Crear Socio</button>
            </div>
        </form>
        <br>
        <br>
  </div>
</div>

  <script>
    new Vue({
  el: '#app',
  data: {
    nuevoSocio: {
      dni: '',
      nombre_apellido: '',
      nacimiento: ''
    }
  },
  methods: {
    crearSocio() {
      var that = this;
      
      fetch('/api/socios', {
        method: 'POST',
        headers:{
          'Content-Type':'application/json'
        },
        body: JSON.stringify([
           this.nuevoSocio.dni, 
           this.nuevoSocio.nombre_apellido,
           this.nuevoSocio.nacimiento
        ])
      })
        .then(function(response) {
          return response.json();
        })
        .then(function(data){
          console.log('Socio creado:', data);
          window.location.href = '/socios';
        })
        .catch(function(error) {
          console.error('Error al crear el socio :', error);
        });
    }
  }
});

  </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <footer class="bg-dark text-white text-center p-3 mt-5">
      © 2023 Biblioteca Las Grutas. Todos los derechos reservados.
    </footer>

  </body>
</html>
